/* Header responsive */
@media screen and (max-width: 800px) {
    .banner{
        width: ;
        padding: 32px;
        justify-content: start;
    }
    .banner .banner-text h1 {
        font-size: 20px;
    }
    
    .banner .banner-text p {
        font-size: 14px;
    }
    .banner .banner-items {
        width: 95%;
        height: auto;
        margin: 0px auto;
        padding: 16px;
        gap: 16px;
        flex-direction: column;
    }

    /* Section .popular-tour  */

    .popular-tour{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 15px;
        margin: 10px auto;
        /* align-items: center; */
        justify-content: center;
    }

    .popular-tour .text h1 {
        font-size: 20px;
    }
    
    .popular-tour .text p, ul {
        font-size: 14px;
    }
    .popular-tour .image img {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 350px;
    }
}