/* Header responsive */
@media screen and (max-width: 600px) {
    .banner{
        width: 90%;
        padding: 32px;
        justify-content: start;
    }
    .banner .banner-text h1 {
        font-size: 20px;
    }
    
    .banner .banner-text p {
        font-size: 14px;
    }
    .banner .banner-items {
        width: 95%;
        height: auto;
        margin: 0px auto;
        padding: 16px;
        gap: 16px;
        flex-direction: column;
    }
}